@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$clr-primary: #6fffe9c7;
$clr-secondary: #6d8bb0;
$clr-dark: #0b132b;
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: $clr-dark;
    color: #fff;
    user-select: none;
    overflow-x: hidden;
}
a{
    color: #fff !important;
}


// *************************** components ***************************
.header{
    position: relative;
    z-index: 4;
    .nav-link{
        font-weight: 500;
    }
    .nav-link{
        margin-left: 2rem;

    }
    @media only screen and (max-width: 992px){
        .nav-link{
            margin-left: unset;
        }
    }
}

.footer{
    background-color: #080e21;
    .heading{
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 4px;
    }
    ul{
        list-style-type: none;
        a{
            text-decoration: none;
            font-size: 0.9rem;
            color: $clr-secondary !important;
        }
        img{
            width: 25px;
        }
    }
    p{
        color: $clr-secondary;
    }

    @media only screen and (max-width: 568px){
        .icons{
            justify-content: flex-start !important;
        }
    }
}

.hero{
    position: relative;
    z-index: 2;
    background-image: url('./media/grad.svg');
    background-position: -80% 10%;
    background-size: 800px;
    background-repeat: no-repeat;
    iframe{
        z-index: 2;
    }
    padding-top: 150px;
    .media-img {
        img {
            filter: brightness(0) invert(1);
            display: block;
            margin: auto;
            width: 160px;
        }
    }
    .imgs{
        width: 100%;
        overflow-x: hidden !important;
        .h-img {
                width: 100%;
                position: absolute;
                top: -500px;
                z-index: -1;
                right: 0;
            }
        
            .h-img-2 {
                width: 80%;
                top: -200px;
                right: -200px;
                opacity: 0.8;
                animation: rotate 8s infinite alternate ease;
            }
        
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
        
                to {
                    transform: rotate(15deg);
                }
            }
    }
}
@media only screen and (max-width: 800px){
    .hero{
        background-image: unset;
    }
    .imgs{
        display: none;
    }
}

.intro{
    overflow-x: hidden;
    background: radial-gradient(17.4% 50% at 41.26% 50%, #0d3f59 0, rgba(4, 24, 54, 0) 100%);
    padding-top: 100px;
    .box{
        border: 1px solid $clr-primary;
        border-radius: 8px;
        background: linear-gradient(180deg, #6fffe92a, #1c25412a);
        padding: 1rem;
        span, p{
            font-weight: 300;
        }
    }
}

.ml-content{
    overflow-x: hidden;
    .crd{
        background-color: #1c2541;
        width: 150px;
        padding: 0.5rem;
        border-left: 2px solid $clr-primary;
    }
    .col{
        padding: 0;
    }
    .bg-1{
        height: 400px;
        background-image: url('./media/octa-legs.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg-2 {
        height: 300px;
        background-image: url('./media/octa-legs-2.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg-3 {
        height: 200px;
        background-image: url('./media/octa-legs-3.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.faqs{
    .accordion{
        --bs-accordion-btn-focus-box-shadow: unset;
    }
    .accordion-item{
        margin-bottom: 1rem;
        background-color: #1f2947;
        color: #fff;
        border-radius: 0 !important;
        border: unset;
        button{
            color: white;
            background-color: #1f2947;
            border: unset !important;
        }
        .accordion-button::after{
            filter:brightness(0) invert(1);
        }
    }
}

.sale{
    .crd{
        position: relative;
        background-color: #1e2947;
        padding: 1rem;
        border-radius: 5px;
        .bdg{
            position: absolute;
            font-size: 0.7rem;
            text-transform: uppercase;
            background-color: $clr-primary;
            color: black;
            padding: 0 0.5rem;
            left: -10px;
            top: 20px;
            transform: rotate(-45deg);
            &.red{
                color: white;
                background-color: red;
            }
        }
    }
}

.tokenomics{
    // chart
    rect{
        fill: transparent;
    }
    Circle{
        fill: $clr-primary;
    }
    text{
        fill: white !important;
    }
    path{
        fill: $clr-primary;
    }


    .waves-bg{
        background-image: url('./media/waves.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .crd{
        background: -webkit-linear-gradient(319.97deg, #00304b 27.17%, #1f2947 85.87%);
        padding: 2rem;
        border-radius: 10px;
        &:hover{
            background: -webkit-linear-gradient(319.97deg,#1f2947  27.17%, #00304b 85.87%);
        }
    }
}

.roadmap{
    background-image: url('./media/grad.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -20% center;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .wrapper{
        background-image: url('./media/blocks.svg');
        height: 400px;
        gap: 0.2rem;
        align-items: center;
        display: flex;
        width: 2000px;
        .bar {
                height: 2px;
                width: 400px;
                background-color: $clr-secondary;
            }
        
            .node {
                position: relative;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: $clr-secondary;
            }
        
            .bar:nth-of-type(1) {
                width: 200px;
                background-color: $clr-primary;
            }
            .node:nth-of-type(2) {
                background-color: $clr-primary;
            }

            .content{
                position: absolute;
                height: 110px;
                border-left: 2px dashed $clr-primary;
                left: 6px;
                top: -110px;
                padding-left: 1rem;
                width: 250px;
                .heading{
                    position: absolute;
                    top: -30px;
                    left: -10px;
                }
                ul{
                    color: $clr-primary;
                    list-style-type: none;
                    li::before{
                        content: '- ';
                    }
                }


                &.second{
                    top: 20px;
                    .heading{
                        top: 110px;
                    }
                    ul{
                        position: absolute;
                        top: 50px;
                        left: 0;
                    }
                }
            }
    }
}
@media only screen and (max-width: 600px){
    .roadmap{
        display: none;
    }
}

// *************************** overrides ***************************
.text-primary{
    color: $clr-primary !important;
}
.text-secondary {
    color: $clr-secondary !important;
}


// *************************** utils ***************************
.primary-btn{
    all: unset;
    color: black;
    background-color: $clr-primary;
    padding: 0.5rem 4rem;
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.2s linear;
    &:hover{
        filter: brightness(1.1);
    }
}
.secondary-btn{
    all: unset;
    border: 1px solid $clr-primary;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    transition: all 0.2s linear;
    &:hover{
        background-color: $clr-secondary;
    }
}
.txt-primary{
    color: #6fffe9;
}
.txt-shadow{
    text-shadow: 1px 1px 2px #6fffe9;
}